footer.footer
    .container 
        .footer__inner 
            .footer__col 
                .footer__adress 
                    p 129337, г. Москва, ул. Красная Сосна, 2А 
                .footer__contacts 
                    p 
                        a(href="tel:+74950000000") +7 (495) 000-00-00
                    p 
                        a(href="mailto:velder@gmail.com") velder@gmail.com
            .footer__group 
                .footer__group-item
                    ul.footer__menu 
                        li.footer__menu-item 
                            a(href="#").footer__menu-link О компании
                        li.footer__menu-item 
                            a(href="#").footer__menu-link Наши услуги
                        li.footer__menu-item 
                            a(href="#").footer__menu-link Преимущества
                        li.footer__menu-item 
                            a(href="#").footer__menu-link Оплата
                        li.footer__menu-item 
                            a(href="#").footer__menu-link Доставка
                .footer__group-item
                    ul.footer__menu 
                        li.footer__menu-item 
                            a(href="#").footer__menu-link Инженерная сантехника
                        li.footer__menu-item 
                            a(href="#").footer__menu-link Отопление
                        li.footer__menu-item 
                            a(href="#").footer__menu-link Бренды
                        li.footer__menu-item 
                            a(href="#").footer__menu-link Гарантия
                        li.footer__menu-item 
                            a(href="#").footer__menu-link Отзывы
                .footer__group-item
                    ul.footer__menu 
                        li.footer__menu-item 
                            a(href="#").footer__menu-link Рекомендательные технологии
                        li.footer__menu-item 
                            a(href="#").footer__menu-link Политика конфиденциальности
                        li.footer__menu-item 
                            a(href="#").footer__menu-link Пользовательское соглашение
                        li.footer__menu-item 
                            a(href="#").footer__menu-link Политика обработки персональных данных
                    .footer__payment 
                        img(src="img/fp-1.png", alt="")
                        img(src="img/fp-2.png", alt="")
                        img(src="img/fp-3.png", alt="")

        .footer__inner 
            span 2024 Велдер. Все права защищены
            span Создание сайта — <a href="https://www.abcwww.ru/">«АБВ сайт»</a>



script(src="js/jquery-3.6.1.js")
script(src="js/fancybox.js")
script(src="js/swiper.js")
script(src="js/nouislider.min.js") 
script(src="js/jquery.formstyler.min.js") 
script(src="js/main.js")    