.cards-slider-controls 
    button.cards-slider-prev 
        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16 7.7931L1 7.7931M1 7.7931L7.61765 14M1 7.7931L7.61765 1.14286" stroke="black"/>
        </svg>
    button.cards-slider-next 
        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 7.2069H15M15 7.2069L8.38235 1M15 7.2069L8.38235 13.8571" stroke="black"/>
        </svg>
