doctype html
html(lang="ru")
    head
        include includes/chunk/head
        include includes/variables
        title О компании
    body 
        include includes/chunk/header/header
        main  
            .top-page 
                .container 
                    ul.breadcrumbs 
                        li.breadcrumbs__item
                            a(href="#").breadcrumbs__link Главная 
                        li.breadcrumbs__item О компании
                    h1.main-heading
                        span О компании
            .page-body
                .container 
                    .about-main.textpage 
                        p Компания «Велдер» ведет свою деятельность с года и предоставляет возможность полной комплектации оборудованием объектов любого масштаба: от отдельного помещения, дома до жилого микрорайона. Компания «Велдер» ведет свою деятельность с года и предоставляет возможность полной комплектации оборудованием объектов любого масштаба: от отдельного помещения, дома до 
                        p Компания «Велдер» ведет свою деятельность с года и предоставляет возможность полной комплектации оборудованием объектов любого масштаба: от отдельного помещения, дома до жилого микрорайона
                        p Компания «Велдер» ведет свою деятельность с года и предоставляет возможность полной комплектации оборудованием объектов любого масштаба: от отдельного помещения, дома до жилого микрорайона
                        picture 
                            source(srcset="img/webp/am@x2.webp", type="image/webp")
                            img(src="img/am@x2.jpg", alt="")
                    include includes/sections/advantages/advantages 
                    +advantages([...advantages])
                    include includes/sections/services/services 
                    +services([...services])
            include includes/sections/customers/customers
            +customers([...customers])

                    

                    



        include includes/chunk/footer/footer
        