doctype html
html(lang="ru")
    head
        include includes/chunk/head
        include includes/variables
        title Регистрация
    body 
        include includes/chunk/header/header
        main  
            .auth 
                .container 
                    h1.text-center.main-heading
                        span Авторизация
                    .auth__inner 
                        .auth__head 
                            a(href="#").auth__head-item Вход
                            a(href="#").auth__head-item.current Регистрация 
                        form(action="#").form
                            .form__layout.grid-4 
                                .form__item 
                                    input(type="text", placeholder="ФИО*").form__input.large  
                                .form__item 
                                    input(type="tel", placeholder="Телефон").form__input.large.jsTel
                                .form__item 
                                    input(type="email", placeholder="E-mail*").form__input.large
                                .form__item 
                                    input(type="password", placeholder="Пароль*").form__input.large
                                .form__item 
                                    input(type="password", placeholder="Повторите пароль*").form__input.large
                                .form__item 
                                    p * необходимые поля
                                button.btn Регистрация
                    



        include includes/chunk/footer/footer