doctype html
html(lang="ru")
    head
        include includes/chunk/head
        include includes/variables
        title Карточка товара
    body 
        include includes/chunk/header/header
        main  
            .top-page 
                .container 
                    ul.breadcrumbs 
                        li.breadcrumbs__item
                            a(href="#").breadcrumbs__link Главная 
                        li.breadcrumbs__item Каталог товаров
                    h1.main-heading.card-heading 
                        span Кран шаровой латунь никель 1101 Standard ВР 
                        span полнопроходной рычаг белый Aquasfera
            .page-body
                .container 
                    include includes/sections/card-main/card-main 
                    include includes/sections/card-tabs/card-tabs
                    .recommends 
                        .flex-heading
                            h2.main-heading 
                                span.red-color Рекомендованные 
                                span товары 
                            include includes/UI/cardsSliderControls/cardsSliderControls
                        include includes/components/cardsSlider/cardsSlider

                    



        include includes/chunk/footer/footer
        