doctype html
html(lang="ru")
    head
        include includes/chunk/head
        include includes/variables
        title Каталог категория
    body 
        include includes/chunk/header/header
        main  
            .top-page 
                .container 
                    ul.breadcrumbs 
                        li.breadcrumbs__item
                            a(href="#").breadcrumbs__link Главная 
                        li.breadcrumbs__item 
                            a(href="#").breadcrumbs__link Каталог товаров
                        li.breadcrumbs__item Промышленное оборудование
                    h1.main-heading 
                        span.red-color Промышленное 
                        span оборудование
            .page-body 
                .container 
                    include includes/sections/categories/categories 
                    +categories([...categories])
                    .catalog-row 
                        include includes/components/catalogAside/catalogAside 
                        .catalog-box 
                            .catalog-row__top 
                                .catalog-row__group
                                    .catalog-row__mobile.jsMobileFilter 
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M0 0H24V3.41503H0V0Z" fill="black"/>
                                            <path d="M9.47245 14.021V24L14.5269 20.7948V14.021L23.5892 4.81958H0.410156L9.47245 14.021Z" fill="black"/>
                                        </svg>

                                    include includes/UI/select/select 
                                    +select([...sort])
                                span Найдено: 150
                            .catalog-layout 
                                include includes/components/productCard/productCard 
                                +productCard('', [...catalogPage]) 
                            .catalog-bottom 
                                button.btn Показать больше 
                                include includes/UI/pagination/pagination 
                    .textpage 
                        h2 Промышленное оборудование 
                        p Описание и фото товара, технические характеристики, информация о комплекте поставки, габаритах, внешнем виде и цвете, стране производства, а также сертификаты и паспорта носят справочный характер и основываются на последних доступных сведениях от производителя. Производитель оставляет за собой право изменить параметры без предварительного уведомления продавца. Предложение не является публичной офертой.р 
                        h3 Заголовок 3
                        p Описание и фото товара, технические характеристики, информация о комплекте поставки, габаритах, внешнем виде и цвете, стране производства, а также сертификаты и паспорта носят справочный характер и основываются на последних доступных сведениях от производителя. Производитель оставляет за собой право изменить параметры без предварительного уведомления продавца. Предложение не является публичной офертой.р
                        ol 
                            li Промышленное оборудование
                            li Промышленное оборудование
                            li Промышленное оборудование
                            li Промышленное оборудование 
                        p Описание и фото товара, технические характеристики, информация о комплекте поставки, габаритах, внешнем виде и цвете, стране производства, а также сертификаты и паспорта носят справочный характер и основываются на последних доступных сведениях от производителя. Производитель оставляет за собой право изменить параметры без предварительного уведомления продавца. Предложение не является публичной офертой.р
                        ul 
                            li Промышленное оборудование
                            li Промышленное оборудование
                            li Промышленное оборудование
                            li Промышленное оборудование
                        p Описание и фото товара, технические характеристики, информация о комплекте поставки, габаритах, внешнем виде и цвете, стране производства, а также сертификаты и паспорта носят справочный характер и основываются на последних доступных сведениях от производителя. Производитель оставляет за собой право изменить параметры без предварительного уведомления продавца. Предложение не является публичной офертой.р
                        h4 Заголовок 4
                        p Описание и фото товара, технические характеристики, информация о комплекте поставки, габаритах, внешнем виде и цвете, стране производства, а также сертификаты и паспорта носят справочный характер и основываются на последних доступных сведениях от производителя. Производитель оставляет за собой право изменить параметры без предварительного уведомления продавца. Предложение не является публичной офертой.р
                            

                                 
                            
                        

                    


        include includes/UI/overlay/overlay
        include includes/chunk/footer/footer
        