doctype html
html(lang="ru")
    head
        include includes/chunk/head
        include includes/variables
        title Контакты
    body 
        include includes/chunk/header/header
        main  
            .top-page 
                .container 
                    ul.breadcrumbs 
                        li.breadcrumbs__item
                            a(href="#").breadcrumbs__link Главная 
                        li.breadcrumbs__item Контакты
                    h1.main-heading 
                        span Контакты
            .page-body 
                .container 
                    .contacts 
                        each item in contacts 
                            .contacts__item  
                                .contacts__item-name=item.name
                                .contacts__item-body 
                                    if(!item.link)
                                        each text in item.paragraph 
                                            p=text 
                                    else 
                                        each text in item.paragraph 
                                            p 
                                                a(href=text.link)=text.text
                        .contacts__item 
                            .contacts__item-name Наши социальные сети:
                            .social 
                                a(href="#").social__item 
                                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="23.6538" cy="23.6538" r="23.6538" fill="#1974BF"/>
                                        <path d="M37.3639 16.1986C37.0297 14.836 36.0501 13.7618 34.8079 13.3949C32.5386 12.7139 23.4611 12.7139 23.4611 12.7139C23.4611 12.7139 14.3839 12.7139 12.1145 13.3691C10.8962 13.7356 9.89282 14.8362 9.55864 16.1986C8.96143 18.6874 8.96143 23.849 8.96143 23.849C8.96143 23.849 8.96143 29.0365 9.55864 31.4993C9.89314 32.8617 10.8723 33.9359 12.1147 34.3028C14.4078 34.984 23.4614 34.984 23.4614 34.984C23.4614 34.984 32.5386 34.984 34.8079 34.3288C36.0503 33.962 37.0297 32.8879 37.3642 31.5254C37.9612 29.0364 37.9612 23.8751 37.9612 23.8751C37.9612 23.8751 37.9851 18.6874 37.3639 16.1986ZM20.5709 28.6173V19.0805L28.1194 23.8489L20.5709 28.6173Z" fill="white"/>
                                    </svg>
                                a(href="#").social__item 
                                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="23.8846" cy="23.6538" r="23.6538" fill="#1974BF"/>
                                        <path d="M34.3207 15.456L30.3594 35.4276C30.3594 35.4276 29.8057 36.8125 28.2819 36.1477L19.0998 29.1199C20.334 28.0104 29.9084 19.4026 30.3271 19.0122C30.9743 18.4081 30.5727 18.0486 29.8204 18.5055L15.6781 27.4865L10.222 25.6497C10.222 25.6497 9.36298 25.345 9.28031 24.6802C9.19716 24.0154 10.2498 23.6554 10.2498 23.6554L32.4927 14.9297C32.4927 14.9297 34.3207 14.1265 34.3207 15.456Z" fill="white"/>
                                    </svg>
                                a(href="#").social__item 
                                    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="24.1153" cy="23.6538" r="23.6538" fill="#1974BF"/>
                                        <path d="M36.2528 23.1353C36.7206 22.5305 37.092 22.0453 37.3662 21.6792C39.3416 19.0529 40.1978 17.3752 39.9355 16.6437L39.8325 16.4724C39.7641 16.3695 39.5867 16.2751 39.3015 16.1895C39.0159 16.1041 38.6506 16.0904 38.2055 16.1468L33.2726 16.1816C33.1585 16.1703 33.0434 16.1729 32.9299 16.1895C32.8157 16.2069 32.7416 16.2243 32.7071 16.2409C32.6727 16.2584 32.6443 16.2723 32.6217 16.2837L32.5532 16.3351C32.4961 16.3692 32.4334 16.4293 32.365 16.5152C32.2964 16.601 32.2389 16.7005 32.1936 16.8151C31.6569 18.1967 31.0461 19.4815 30.3609 20.6691C29.9383 21.3771 29.5499 21.9913 29.1964 22.5102C28.8423 23.0302 28.5454 23.4126 28.3056 23.6576C28.0659 23.9031 27.8487 24.1005 27.6548 24.2484C27.4604 24.3974 27.3121 24.4598 27.2097 24.4372C27.1122 24.4159 27.0151 24.393 26.9184 24.3683C26.7585 24.2659 26.6298 24.1262 26.533 23.9489C26.4359 23.7723 26.3704 23.5495 26.336 23.281C26.3019 23.0128 26.2815 22.7814 26.2762 22.587C26.2701 22.393 26.2732 22.1192 26.2849 21.7647C26.2963 21.4107 26.3019 21.1714 26.3019 21.0454C26.3019 20.612 26.3106 20.1407 26.3277 19.6324C26.3447 19.1245 26.3591 18.7217 26.3704 18.4248C26.3818 18.1283 26.3874 17.814 26.3874 17.4827C26.3874 17.1521 26.3674 16.8919 26.3272 16.7032C26.2868 16.5147 26.2266 16.331 26.1476 16.1552C26.0674 15.9785 25.9505 15.8412 25.7962 15.7445C25.642 15.6472 25.4509 15.5705 25.2225 15.513C24.617 15.3756 23.8462 15.3023 22.9101 15.2902C20.7861 15.2683 19.4216 15.4052 18.8164 15.7017C18.5767 15.8276 18.3596 15.9986 18.1656 16.2157C17.9598 16.4672 17.9315 16.6044 18.0801 16.6264C18.7654 16.7293 19.2503 16.9751 19.5358 17.3631L19.6387 17.5685C19.7185 17.7175 19.7983 17.98 19.8785 18.3567C19.9583 18.7334 20.0098 19.1502 20.0328 19.607C20.0899 20.4406 20.0899 21.1539 20.0328 21.7481C19.9757 22.3422 19.9216 22.8044 19.8702 23.135C19.8187 23.4663 19.7416 23.7344 19.6391 23.9398C19.5362 24.1459 19.4678 24.2715 19.4334 24.3172C19.3989 24.3626 19.3706 24.3913 19.3479 24.4027C19.2003 24.4594 19.0435 24.4884 18.8854 24.4882C18.7254 24.4882 18.5314 24.408 18.3029 24.248C18.0745 24.0888 17.8374 23.8687 17.5923 23.5888C17.3464 23.3093 17.0699 22.9179 16.7613 22.4152C16.4531 21.9134 16.1331 21.3192 15.8021 20.6343L15.5283 20.1373C15.357 19.8181 15.1229 19.3525 14.826 18.7417C14.5291 18.1309 14.2662 17.5401 14.0382 16.9687C13.9466 16.7293 13.8097 16.5466 13.6271 16.4207L13.5416 16.3692C13.4845 16.3238 13.393 16.2751 13.2674 16.224C13.1406 16.1723 13.0084 16.1348 12.8733 16.1124L8.18017 16.1465C7.70061 16.1465 7.37536 16.2554 7.20406 16.4724L7.13559 16.575C7.10098 16.6324 7.08398 16.724 7.08398 16.8492C7.08398 16.9751 7.11841 17.1291 7.18688 17.3114C7.87216 18.9218 8.61727 20.4747 9.42207 21.9701C10.2273 23.4663 10.9266 24.6712 11.5204 25.5846C12.1141 26.4988 12.7193 27.3603 13.3361 28.1711C13.953 28.982 14.3611 29.5012 14.5607 29.7293C14.7604 29.9582 14.9174 30.1295 15.0316 30.2433L15.4598 30.6548C15.7336 30.9287 16.1364 31.2569 16.6674 31.6396C17.1984 32.0224 17.7862 32.3991 18.4318 32.7698C19.0767 33.1412 19.8278 33.4433 20.684 33.6778C21.5403 33.9123 22.3738 34.0064 23.1847 33.9603H25.1544C25.5542 33.9263 25.8566 33.8011 26.0621 33.5836L26.1305 33.4981C26.1759 33.43 26.219 33.3242 26.2591 33.1815C26.2988 33.0389 26.3193 32.8816 26.3193 32.7107C26.3075 32.2198 26.345 31.7765 26.4305 31.3832C26.516 30.9891 26.6131 30.6926 26.7218 30.4922C26.8303 30.2928 26.9528 30.1242 27.09 29.9868C27.227 29.8495 27.3238 29.7675 27.3813 29.7387C27.4384 29.7107 27.4842 29.6907 27.5183 29.6786C27.792 29.5874 28.1146 29.6759 28.486 29.9441C28.8571 30.213 29.2054 30.5435 29.5311 30.9376C29.8562 31.3317 30.2473 31.7738 30.7042 32.2651C31.1607 32.756 31.5605 33.1213 31.9031 33.3611L32.2458 33.5673C32.4741 33.7038 32.7707 33.8294 33.1364 33.944C33.5018 34.0578 33.8218 34.0866 34.0956 34.0295L38.4805 33.9606C38.9143 33.9606 39.2513 33.8895 39.4911 33.7465C39.7308 33.6047 39.8735 33.4466 39.9193 33.2757C39.9646 33.1044 39.9676 32.9111 39.928 32.6936C39.8879 32.4769 39.8478 32.3256 39.8081 32.2401C39.7681 32.1547 39.7309 32.0828 39.6965 32.0261C39.1255 30.9985 38.035 29.7364 36.425 28.2406L36.3906 28.2066L36.3736 28.1892L36.3566 28.1725H36.3394C35.6083 27.4758 35.1461 27.0076 34.9521 26.7675C34.5982 26.3114 34.5179 25.8488 34.7124 25.3806C34.8485 25.0256 35.3621 24.2775 36.2528 23.1353Z" fill="white"/>
                                    </svg> 

                    .map 
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2239.6901188954575!2d37.67774456028283!3d55.850692001055485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b536a1fa7755e9%3A0x1a272669bbd09ba!2z0YPQuy4g0JrRgNCw0YHQvdCw0Y8g0KHQvtGB0L3QsCwgMtCQLCDQnNC-0YHQutCy0LAsIDEyOTMzNw!5e0!3m2!1sru!2sru!4v1736750468999!5m2!1sru!2sru" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>



                    



        include includes/chunk/footer/footer