doctype html
html(lang="ru")
    head
        include includes/chunk/head
        include includes/variables
        title История заказов
    body 
        include includes/chunk/header/header
        main  
            .profile-wrapper
                .top-page 
                    .container 
                        h1.main-heading 
                            span Профиль
                .page-body 
                    .container 
                        .profile-inner 
                            aside.profile-aside 
                                a(href="#").profile-aside__item Профиль 
                                a(href="#").profile-aside__item.current История заказов
                                button.profile-aside__btn Выйти
                                
                            .profile-content 
                                b.profile-username Иванов Иван
                                .profile-history 
                                    include includes/components/profileHistory/profileHistory 
                                    +profileHistory([...profileHistory])


                                


                    
                    



        include includes/chunk/footer/footer