doctype html
html(lang="ru")
    head
        include includes/chunk/head
        include includes/variables
        title Профиль
    body 
        include includes/chunk/header/header
        main  
            .profile-wrapper
                .top-page 
                    .container 
                        h1.main-heading 
                            span Профиль
                .page-body 
                    .container 
                        .profile-inner 
                            aside.profile-aside 
                                a(href="#").profile-aside__item.current Профиль 
                                a(href="#").profile-aside__item История заказов
                                button.profile-aside__btn Выйти
                                
                            .profile-content 
                                b.profile-username Иванов Иван
                                form(action="#").form 
                                    .order-item
                                        .order-item__inner 
                                            b.order-item__name Ваши данные
                                            .form__layout 
                                                .form__item.span-2 
                                                    p ФИО*
                                                    input(type="text").form__input.small
                                                .form__item
                                                    p Телефон*
                                                    input(type="tel").form__input.small.jsTel
                                                .form__item
                                                    p E-mail*
                                                    input(type="email").form__input.small
                                                .form__item
                                                    p Адрес
                                                    input(type="text").form__input.small
                                    .order-item
                                        .order-item__inner 
                                            b.order-item__name Текущий пароль
                                            .form__layout 
                                                .form__item
                                                    p Текущий пароль
                                                    input(type="password").form__input.small
                                                .form__item
                                                    p Новый пароль
                                                    input(type="password").form__input.small.jsTel
                                                .form__item
                                                    p Повторить пароль
                                                    input(type="password").form__input.small
                                    button.btn.profile-btn Сохранить изменения
                        

                                


                    
                    



        include includes/chunk/footer/footer