doctype html
html(lang="ru")
    head
        include includes/chunk/head
        include includes/variables
        title Текстовая
    body 
        include includes/chunk/header/header
        main  
            .top-page 
                .container 
                    ul.breadcrumbs 
                        li.breadcrumbs__item
                            a(href="#").breadcrumbs__link Главная 
                        li.breadcrumbs__item
                            a(href="#").breadcrumbs__link Каталог товаров
                        li.breadcrumbs__item Промышленное оборудование
                    h1.main-heading 
                        span.red-color Промышленное 
                        span оборудование
            .page-body
                .container 
                    .textpage 
                        p 
                            <a href="#">Компания «Велдер»</a> ведет свою деятельность с года и предоставляет возможность полной комплектации оборудованием объектов любого масштаба: от отдельного помещения, дома до жилого микрорайона. Компания «Велдер» ведет свою деятельность с года и предоставляет возможность полной комплектации оборудованием объектов любого масштаба: от отдельного помещения, дома до жилого микрорайона
                        p Компания «Велдер» ведет свою деятельность с года и предоставляет возможность полной комплектации оборудованием объектов любого масштаба: от отдельного помещения, дома до жилого микрорайона
                        h2 Заголовок 2
                        p Описание и фото товара, технические характеристики, информация о комплекте поставки, габаритах, внешнем виде и цвете, стране производства, а также сертификаты и паспорта носят справочный характер и основываются на последних доступных сведениях от производителя. Производитель оставляет за собой право изменить параметры без предварительного уведомления продавца. Предложение не является публичной офертой.
                        ol 
                            li Промышленное оборудование
                            li Промышленное оборудование
                            li Промышленное оборудование
                            li Промышленное оборудование
                        p Описание и фото товара, технические характеристики, информация о комплекте поставки, габаритах, внешнем виде и цвете, стране производства, а также сертификаты и паспорта носят справочный характер и основываются на последних доступных сведениях от производителя. Производитель оставляет за собой право изменить параметры без предварительного уведомления продавца. Предложение не является публичной офертой.
                        ul 
                            li Промышленное оборудование
                            li Промышленное оборудование
                            li Промышленное оборудование
                            li Промышленное оборудование
                        p Описание и фото товара, технические характеристики, информация о комплекте поставки, габаритах, внешнем виде и цвете, стране производства, а также сертификаты и паспорта носят справочный характер и основываются на последних доступных сведениях от производителя. Производитель оставляет за собой право изменить параметры без предварительного уведомления продавца. Предложение не является публичной офертой.
                        h3 Заголовок 3
                        p Описание и фото товара, технические характеристики, информация о комплекте поставки, габаритах, внешнем виде и цвете, стране производства, а также сертификаты и паспорта носят справочный характер и основываются на последних доступных сведениях от производителя. Производитель оставляет за собой право изменить параметры без предварительного уведомления продавца. Предложение не является публичной офертой.
                        picture 
                            source(srcset="img/webp/textpage@x2.webp", type="image/webp")
                            img(src="img/textpage@x2.jpg", alt="")
                        .textpage__row 
                            .textpage__row-text 
                                p Компания «Велдер» ведет свою деятельность с года и предоставляет возможность полной комплектации оборудованием объектов любого масштаба: от отдельного помещения, дома до жилого микрорайона. Компания «Велдер» ведет свою деятельность с года и предоставляет возможность полной комплектации оборудованием объектов любого масштаба: от отдельного помещения, дома до жилого микрорайона
                                p Компания «Велдер» ведет свою деятельность с года и предоставляет возможность полной комплектации оборудованием объектов любого масштаба: от отдельного помещения, дома до жилого микрорайона. Компания «Велдер» ведет свою деятельность с года и предоставляет возможность полной комплектации оборудованием объектов любого масштаба: от отдельного помещения, дома до жилого микрорайона
                            .textpage__row-img 
                                picture 
                                    source(srcset="img/webp/textpage-row@x2.webp", type="image/webp")
                                    img(src="img/textpage-row@x2.jpg", alt="")
                        table 
                            tr 
                                th Заголовок 4
                                th Заголовок 4
                                th Заголовок 4
                                th Заголовок 4
                            tr 
                                td Промышленное оборудование
                                td Промышленное оборудование
                                td Промышленное оборудование
                                td Промышленное оборудование
                            tr 
                                td Промышленное оборудование
                                td Промышленное оборудование
                                td Промышленное оборудование
                                td Промышленное оборудование
                            tr 
                                td Промышленное оборудование
                                td Промышленное оборудование
                                td Промышленное оборудование
                                td Промышленное оборудование



                    

                    



        include includes/chunk/footer/footer
        