-
    var mainSidebar = [
        {
            img: 'img/svg/ma-1.svg',
            text: 'Трубы стальные',
            arrowMobile: true, mobile: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-2.svg',
            text: 'Детали трубопроводов',
            arrowMobile: true, mobile: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-3.svg',
            text: 'Трубы нержавеющие гофрированые и фитинги',
            arrowMobile: true, mobile: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-4.svg',
            text: 'Трубы ПНД',
            arrowMobile: true, mobile: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-5.svg',
            text: 'Фитинги ПНД',
            arrowMobile: true, mobile: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-6.svg',
            text: 'Трубы полипропиленовые и фитинги',
            arrowMobile: true, mobile: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-7.svg',
            text: 'Трубы канализационные, соединительные детали',
            arrowMobile: true, mobile: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-8.svg',
            text: 'Краны и задвижки',
            arrowMobile: true, mobile: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-9.svg',
            text: 'Регулирующая, предохранительная арматура',
            arrowMobile: true, mobile: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-10.svg',
            text: 'Фильтры, грязевики, элеваторы и воздухоотводчики',
            arrowMobile: true, mobile: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-11.svg',
            text: 'Радиаторы и регистры отопления',
            arrowMobile: true, mobile: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-12.svg',
            text: 'Приборы учёта и КИПиА',
            arrowMobile: true, mobile: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-13.svg',
            text: 'Насосы и насосное оборудование',
            arrowMobile: true, mobile: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-14.svg',
            text: 'Пожарное оборудование',
            arrowMobile: true, mobile: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-15.svg',
            text: 'Баки и емкости',
            arrowMobile: true, mobile: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-16.svg',
            text: 'Теплоизоляция',
            arrowMobile: true, mobile: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-17.svg',
            text: 'Металлопрокат',
            arrowMobile: true, mobile: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-18.svg',
            text: 'Краски и герметики',
            arrowMobile: true, mobile: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
    ]