.services {
    & .swiper-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    &__item {
        & h4,
        & .h4 {
            color: black;
        }
        &-head {
            position: relative;
            padding-top: 60.387%;
            margin: 0 0 10px 0;
            & img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .services {
        width: calc(100% + 20px);
        &__inner {
            padding: 0 20px 0 0;
        }
        & .swiper-wrapper {
            display: flex;
            gap: 0;
        }
    }
}
