.section.main-about 
    .container 
        .main-about__inner 
            .main-about__text
                .h3 О компании
                .main-about__descr
                    p Компания «Велдер» ведет свою деятельность с года и предоставляет возможность полной комплектации оборудованием объектов любого масштаба: от отдельного помещения, дома до жилого микрорайона
                a(href="#").btn Подробнее 
            .main-about__img 
                picture 
                    source(srcset="img/webp/ma@x2.webp", type="image/webp")
                    img(src="img/ma@x2.jpg", alt="")
