-
    var verticalSlider = [
        {
            webp: 'img/webp/categories-1@x2.webp',
            img: 'img/categories-1@x2.jpg',
        },
        {
            webp: 'img/webp/categories-2@x2.webp',
            img: 'img/categories-2@x2.jpg',
        },
        {
            webp: 'img/webp/categories-3@x2.webp',
            img: 'img/categories-3@x2.jpg',
        },
        {
            webp: 'img/webp/categories-4@x2.webp',
            img: 'img/categories-4@x2.jpg',
        },
        {
            webp: 'img/webp/categories-5@x2.webp',
            img: 'img/categories-5@x2.jpg',
        },
        {
            webp: 'img/webp/categories-6@x2.webp',
            img: 'img/categories-6@x2.jpg',
        },
    ]
    var bigSlider = [
        {

        },
        {

        },
        {

        },
        {

        },
        {

        },
        {

        },
    ]