-
    var mainSidebar = [
        {
            img: 'img/svg/ma-1.svg',
            text: 'Трубы стальные',
            arrow: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-2.svg',
            text: 'Детали трубопроводов',
            arrow: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-3.svg',
            text: 'Трубы нержавеющие гофрированые и фитинги',
            arrow: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-4.svg',
            text: 'Трубы ПНД',
            arrow: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-5.svg',
            text: 'Фитинги ПНД',
            arrow: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-6.svg',
            text: 'Трубы полипропиленовые и фитинги',
            arrow: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-7.svg',
            text: 'Трубы канализационные, соединительные детали',
            arrow: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-8.svg',
            text: 'Краны и задвижки',
            arrow: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-9.svg',
            text: 'Регулирующая, предохранительная арматура',
            arrow: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-10.svg',
            text: 'Фильтры, грязевики, элеваторы и воздухоотводчики',
            arrow: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-11.svg',
            text: 'Радиаторы и регистры отопления',
            arrow: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-12.svg',
            text: 'Приборы учёта и КИПиА',
            arrow: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-13.svg',
            text: 'Насосы и насосное оборудование',
            arrow: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-14.svg',
            text: 'Пожарное оборудование',
            arrow: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-15.svg',
            text: 'Баки и емкости',
            arrow: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-16.svg',
            text: 'Теплоизоляция',
            arrow: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-17.svg',
            text: 'Металлопрокат',
            arrow: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
        {
            img: 'img/svg/ma-18.svg',
            text: 'Краски и герметики',
            arrow: true,
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб', 'Фитинги для медных труб', 'Фитинги для металлопластиковых труб', 'Фитинги для труб из нержавеющей стали', 'Фитинги для труб из полиэтилена низкого давления', 'Фитинги для труб', 'Резьбовые латунные фитинги', 'Фитинги для теплоизолированных труб', 'Чугунные оцинкованные фитинги', 'Комплектующие для фитингов',]
        },
    ]

    var mainScreenSlider = [
        {
            webp: 'img/webp/main-screen@x2.webp',
            img: 'img/main-screen@x2.jpg',
            mobileImg: 'img/main-screen-mobile@x3.jpg',
            mobileWebp: 'img/webp/main-screen-mobile@x3.webp',
            name: 'бесплатная доставка',
            descr: 'При покупке от 10 000 рублей',
        },
        {
            webp: 'img/webp/main-screen@x2.webp',
            img: 'img/main-screen@x2.jpg',
            mobileImg: 'img/main-screen-mobile@x3.jpg',
            mobileWebp: 'img/webp/main-screen-mobile@x3.webp',
            name: 'бесплатная доставка',
            descr: 'При покупке от 10 000 рублей',
        },
        {
            webp: 'img/webp/main-screen@x2.webp',
            img: 'img/main-screen@x2.jpg',
            mobileImg: 'img/main-screen-mobile@x3.jpg',
            mobileWebp: 'img/webp/main-screen-mobile@x3.webp',
            name: 'бесплатная доставка',
            descr: 'При покупке от 10 000 рублей',
        },
    ]

    var sales = [
        {
            webp: 'img/webp/pc@x2.webp',
            img: 'img/pc@x2.jpg',
            flag: 'new',
            articule: 'Арт. - КШ.Ф.П.040.40-01',
            name: 'Кран шаровой ALSO КШФП Ду 40 Ру 4,0 МПа СТ.20 полнопроходной',
            currentPrice: '3 070 ₽'
        },
        {
            webp: 'img/webp/pc@x2.webp',
            img: 'img/pc@x2.jpg',
            flag: 'hit',
            articule: 'Арт. - КШ.Ф.П.040.40-01',
            name: 'Кран шаровой ALSO КШФП Ду 40 Ру 4,0 МПа СТ.20 полнопроходной',
            currentPrice: '3 070 ₽'
        },
        {
            webp: 'img/webp/pc@x2.webp',
            img: 'img/pc@x2.jpg',
            articule: 'Арт. - КШ.Ф.П.040.40-01',
            name: 'Кран шаровой ALSO КШФП Ду 40 Ру 4,0 МПа СТ.20 полнопроходной',
            currentPrice: '3 070 ₽'
        },
        {
            webp: 'img/webp/pc@x2.webp',
            img: 'img/pc@x2.jpg',
            articule: 'Арт. - КШ.Ф.П.040.40-01',
            name: 'Кран шаровой ALSO КШФП Ду 40 Ру 4,0 МПа СТ.20 полнопроходной',
            currentPrice: '3 070 ₽'
        },
    ]

    var catalogSection = [
        {
            webp: 'img/webp/cat-1@x2.webp',
            img: 'img/cat-1@x2.jpg',
            name: 'Промышленное оборудование',
            list: ['Промышленные балансировочные клапаны', 'Вентили', 'Воздушный вантуз',]
        },
        {
            webp: 'img/webp/cat-2@x2.webp',
            img: 'img/cat-2@x2.jpg',
            name: 'Трубы',
            list: ['Из сшитого полиэтилена', 'Трубы из полибутена', 'Гофрированные', 'Металлопластиковые', 'Полипропиленовые',]
        },
        {
            webp: 'img/webp/cat-3@x2.webp',
            img: 'img/cat-3@x2.jpg',
            name: 'Запорно-регулирующая арматура',
            list: ['Воздухоотводчики', 'Зональные клапаны', 'Краны и вентили для бытовой техникик',]
        },
        {
            webp: 'img/webp/cat-4@x2.webp',
            img: 'img/cat-4@x2.jpg',
            name: 'Фитинги для труб',
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб',]
        },
        {
            webp: 'img/webp/cat-5@x2.webp',
            img: 'img/cat-5@x2.jpg',
            name: 'Фильтры',
            list: ['Газовые', 'Сетчатые', 'Топливные для котлов', 'Картриджи', 'Магистральные',]
        },
        {
            webp: 'img/webp/cat-6@x2.webp',
            img: 'img/cat-6@x2.jpg',
            name: 'Насосы',
            list: ['Циркуляционные', 'Дренажные', 'Канализационные', 'Канализационные установки', 'Колодезные',]
        },
        {
            webp: 'img/webp/cat-7@x2.webp',
            img: 'img/cat-7@x2.jpg',
            name: 'Мембранные баки',
            list: ['Гидроаккумуляторы', 'Расширительные баки для отопления', 'Комплектующие для мембранных баков']
        },
        {
            webp: 'img/webp/cat-8@x2.webp',
            img: 'img/cat-8@x2.jpg',
            name: 'Канализация',
            list: ['Бесшумная', 'Малошумная', 'Внутренняя', 'Наружная', 'Инсталляции',]
        },
        {
            webp: 'img/webp/cat-1@x2.webp',
            img: 'img/cat-1@x2.jpg',
            name: 'Промышленное оборудование',
            list: ['Промышленные балансировочные клапаны', 'Вентили', 'Воздушный вантуз',]
        },
        {
            webp: 'img/webp/cat-2@x2.webp',
            img: 'img/cat-2@x2.jpg',
            name: 'Трубы',
            list: ['Из сшитого полиэтилена', 'Трубы из полибутена', 'Гофрированные', 'Металлопластиковые', 'Полипропиленовые',]
        },
        {
            webp: 'img/webp/cat-3@x2.webp',
            img: 'img/cat-3@x2.jpg',
            name: 'Запорно-регулирующая арматура',
            list: ['Воздухоотводчики', 'Зональные клапаны', 'Краны и вентили для бытовой техникик',]
        },
        {
            webp: 'img/webp/cat-4@x2.webp',
            img: 'img/cat-4@x2.jpg',
            name: 'Фитинги для труб',
            list: ['Фитинги для труб из сшитого полиэтилена', 'Полипропиленовые фитинги', 'Фитинги для гофрированных труб',]
        },
        {
            webp: 'img/webp/cat-5@x2.webp',
            img: 'img/cat-5@x2.jpg',
            name: 'Фильтры',
            list: ['Газовые', 'Сетчатые', 'Топливные для котлов', 'Картриджи', 'Магистральные',]
        },
        {
            webp: 'img/webp/cat-6@x2.webp',
            img: 'img/cat-6@x2.jpg',
            name: 'Насосы',
            list: ['Циркуляционные', 'Дренажные', 'Канализационные', 'Канализационные установки', 'Колодезные',]
        },
        {
            webp: 'img/webp/cat-7@x2.webp',
            img: 'img/cat-7@x2.jpg',
            name: 'Мембранные баки',
            list: ['Гидроаккумуляторы', 'Расширительные баки для отопления', 'Комплектующие для мембранных баков']
        },
        {
            webp: 'img/webp/cat-8@x2.webp',
            img: 'img/cat-8@x2.jpg',
            name: 'Канализация',
            list: ['Бесшумная', 'Малошумная', 'Внутренняя', 'Наружная', 'Инсталляции',]
        },
    ]

    var services = [
        {
            webp: 'img/webp/serv-1@x2.webp',
            img: 'img/serv-1@x2.jpg',
            text: 'Сварка ПНД труб',
        },
        {
            webp: 'img/webp/serv-2@x2.webp',
            img: 'img/serv-1@x2.jpg',
            text: 'Замена пожарных гидрантов',
        },
        {
            webp: 'img/webp/serv-3@x2.webp',
            img: 'img/serv-1@x2.jpg',
            text: 'Сварочные аппараты ПНД в аренду',
        },
    ]

    var advantages = [
        {
            img: 'img/svg/a-1.svg',
            descr: 'Быстрая доставка',
        },
        {
            img: 'img/svg/a-2.svg',
            descr: 'Обширный ассортимент',
        },
        {
            img: 'img/svg/a-3.svg',
            descr: 'Выгодные цены',
        },
        {
            img: 'img/svg/a-4.svg',
            descr: 'Техническая поддрежка',
        },
    ]

    var customers = [
        {
            webp: 'img/webp/cus-1.webp',
            img: 'img/cus-1.png',
        },
        {
            webp: 'img/webp/cus-2.webp',
            img: 'img/cus-2.png',
        },
        {
            webp: 'img/webp/cus-3.webp',
            img: 'img/cus-3.png',
        },
        {
            webp: 'img/webp/cus-4.webp',
            img: 'img/cus-4.png',
        },
        {
            webp: 'img/webp/cus-5.webp',
            img: 'img/cus-5.png',
        },
        {
            webp: 'img/webp/cus-6.webp',
            img: 'img/cus-6.png',
        },
        {
            webp: 'img/webp/cus-7.webp',
            img: 'img/cus-7.png',
        },
        {
            webp: 'img/webp/cus-8.webp',
            img: 'img/cus-8.png',
        },
    ]

    var categories = [
        {
            webp: 'img/webp/categories-1@x2.webp',
            img: 'img/categories-1@x2.jpg',
            name: 'Балансировочные клапаны',
            value: '210 товаров',
        },
        {
            webp: 'img/webp/categories-2@x2.webp',
            img: 'img/categories-2@x2.jpg',
            name: 'Вентили',
            value: '55 товаров',
        },
        {
            webp: 'img/webp/categories-3@x2.webp',
            img: 'img/categories-3@x2.jpg',
            name: 'Воздушный вантуз',
            value: '8 товаров',
        },
        {
            webp: 'img/webp/categories-4@x2.webp',
            img: 'img/categories-4@x2.jpg',
            name: 'Дисковые поворотные затворы',
            value: '436 товаров',
        },
        {
            webp: 'img/webp/categories-5@x2.webp',
            img: 'img/categories-5@x2.jpg',
            name: 'Задвижки',
            value: '390 товаров',
        },
        {
            webp: 'img/webp/categories-6@x2.webp',
            img: 'img/categories-6@x2.jpg',
            name: 'Компенсаторы',
            value: '95 товаров',
        },
        {
            webp: 'img/webp/categories-7@x2.webp',
            img: 'img/categories-7@x2.jpg',
            name: 'Краны шаровые',
            value: '389 товаров',
        },
        {
            webp: 'img/webp/categories-8@x2.webp',
            img: 'img/categories-8@x2.jpg',
            name: 'Обратные клапаны',
            value: '301 товаров',
        },
        {
            webp: 'img/webp/categories-9@x2.webp',
            img: 'img/categories-9@x2.jpg',
            name: 'Предохранительные клапаны',
            value: '12 товаров',
        },
        {
            webp: 'img/webp/categories-10@x2.webp',
            img: 'img/categories-10@x2.jpg',
            name: 'Промышленные насосы',
            value: '3582 товаров',
        },
        {
            webp: 'img/webp/categories-11@x2.webp',
            img: 'img/categories-11@x2.jpg',
            name: 'Регулирующие клапаны',
            value: '557 товаров',
        },
        {
            webp: 'img/webp/categories-12@x2.webp',
            img: 'img/categories-12@x2.jpg',
            name: 'Теплообменное оборудование',
            value: '183 товаров',
        },
        {
            webp: 'img/webp/categories-13@x2.webp',
            img: 'img/categories-13@x2.jpg',
            name: 'Фильтры для систем отопления',
            value: '100 товаров',
        },
        {
            webp: 'img/webp/categories-14@x2.webp',
            img: 'img/categories-14@x2.jpg',
            name: 'Фланцы',
            value: '26 товаров',
        },
        {
            webp: 'img/webp/categories-15@x2.webp',
            img: 'img/categories-15@x2.jpg',
            name: 'Комплектующие к промышленному оборудованию',
            value: '58 товаров',
        },
    ]

    var sort = [
        {
            text: 'Сортировка по',
        },
        {
            text: 'Популярности',
        },
        {
            text: 'Цене',
        },
    ]

    var catalogPage = [
        {
            webp: 'img/webp/pc@x2.webp',
            img: 'img/pc@x2.jpg',
            articule: 'Арт. - КШ.Ф.П.040.40-01',
            name: 'Кран шаровой ALSO КШФП Ду 40 Ру 4,0 МПа СТ.20 полнопроходной',
            currentPrice: '3 070 ₽'
        },
        {
            webp: 'img/webp/pc@x2.webp',
            img: 'img/pc@x2.jpg',
            flag: 'new',
            articule: 'Арт. - КШ.Ф.П.040.40-01',
            name: 'Кран шаровой ALSO КШФП Ду 40 Ру 4,0 МПа СТ.20 полнопроходной',
            currentPrice: '3 070 ₽'
        },
        {
            webp: 'img/webp/pc@x2.webp',
            img: 'img/pc@x2.jpg',
            articule: 'Арт. - КШ.Ф.П.040.40-01',
            name: 'Кран шаровой ALSO КШФП Ду 40 Ру 4,0 МПа СТ.20 полнопроходной',
            currentPrice: '3 070 ₽'
        },
        {
            webp: 'img/webp/pc@x2.webp',
            img: 'img/pc@x2.jpg',
            articule: 'Арт. - КШ.Ф.П.040.40-01',
            name: 'Кран шаровой ALSO КШФП Ду 40 Ру 4,0 МПа СТ.20 полнопроходной',
            currentPrice: '3 070 ₽'
        },
        {
            webp: 'img/webp/pc@x2.webp',
            img: 'img/pc@x2.jpg',
            flag: 'new',
            articule: 'Арт. - КШ.Ф.П.040.40-01',
            name: 'Кран шаровой ALSO КШФП Ду 40 Ру 4,0 МПа СТ.20 полнопроходной',
            currentPrice: '3 070 ₽'
        },
        {
            webp: 'img/webp/pc@x2.webp',
            img: 'img/pc@x2.jpg',
            articule: 'Арт. - КШ.Ф.П.040.40-01',
            name: 'Кран шаровой ALSO КШФП Ду 40 Ру 4,0 МПа СТ.20 полнопроходной',
            currentPrice: '3 070 ₽'
        },
        {
            webp: 'img/webp/pc@x2.webp',
            img: 'img/pc@x2.jpg',
            articule: 'Арт. - КШ.Ф.П.040.40-01',
            name: 'Кран шаровой ALSO КШФП Ду 40 Ру 4,0 МПа СТ.20 полнопроходной',
            currentPrice: '3 070 ₽'
        },
        {
            webp: 'img/webp/pc@x2.webp',
            img: 'img/pc@x2.jpg',
            flag: 'new',
            articule: 'Арт. - КШ.Ф.П.040.40-01',
            name: 'Кран шаровой ALSO КШФП Ду 40 Ру 4,0 МПа СТ.20 полнопроходной',
            currentPrice: '3 070 ₽'
        },
        {
            webp: 'img/webp/pc@x2.webp',
            img: 'img/pc@x2.jpg',
            articule: 'Арт. - КШ.Ф.П.040.40-01',
            name: 'Кран шаровой ALSO КШФП Ду 40 Ру 4,0 МПа СТ.20 полнопроходной',
            currentPrice: '3 070 ₽'
        },
    ]

    var various = [
        {
            webp: 'img/webp/pc@x2.webp',
            img: 'img/pc@x2.jpg',
            flag: 'new',
            articule: 'Арт. - КШ.Ф.П.040.40-01',
            name: 'Кран шаровой ALSO КШФП Ду 40 Ру 4,0 МПа СТ.20 полнопроходной',
            currentPrice: '3 070 ₽'
        },
        {
            webp: 'img/webp/pc@x2.webp',
            img: 'img/pc@x2.jpg',
            flag: 'new',
            articule: 'Арт. - КШ.Ф.П.040.40-01',
            name: 'Кран шаровой ALSO КШФП Ду 40 Ру 4,0 МПа СТ.20 полнопроходной',
            currentPrice: '3 070 ₽'
        },
        {
            webp: 'img/webp/pc@x2.webp',
            img: 'img/pc@x2.jpg',
            flag: 'new',
            articule: 'Арт. - КШ.Ф.П.040.40-01',
            name: 'Кран шаровой ALSO КШФП Ду 40 Ру 4,0 МПа СТ.20 полнопроходной',
            currentPrice: '3 070 ₽'
        },
        {
            webp: 'img/webp/pc@x2.webp',
            img: 'img/pc@x2.jpg',
            flag: 'new',
            articule: 'Арт. - КШ.Ф.П.040.40-01',
            name: 'Кран шаровой ALSO КШФП Ду 40 Ру 4,0 МПа СТ.20 полнопроходной',
            currentPrice: '3 070 ₽'
        },
    ]

    var serivcesPage = [
        {
            webp: 'img/webp/sp-1@x2.webp',
            img: 'img/sp-1@x2.jpg',
            name: 'Сварка ПНД труб',
            descr: 'Компания «Велдер» ведет свою деятельность с года и предоставляет возможность полной комплектации оборудованием объектов любого масштаба: от отдельного помещения, дома до жилого микрорайона'
        },
        {
            webp: 'img/webp/sp-2@x2.webp',
            img: 'img/sp-2@x2.jpg',
            name: 'Замена пожарных гидрантов ',
            descr: 'Компания «Велдер» ведет свою деятельность с года и предоставляет возможность полной комплектации оборудованием объектов любого масштаба: от отдельного помещения, дома до жилого микрорайона'
        },
        {
            webp: 'img/webp/sp-3@x2.webp',
            img: 'img/sp-3@x2.jpg',
            name: 'Сварочные аппараты ПНД в аренду',
            descr: 'Компания «Велдер» ведет свою деятельность с года и предоставляет возможность полной комплектации оборудованием объектов любого масштаба: от отдельного помещения, дома до жилого микрорайона'
        },
        {
            webp: 'img/webp/sp-1@x2.webp',
            img: 'img/sp-1@x2.jpg',
            name: 'Сварка ПНД труб',
            descr: 'Компания «Велдер» ведет свою деятельность с года и предоставляет возможность полной комплектации оборудованием объектов любого масштаба: от отдельного помещения, дома до жилого микрорайона'
        },
        {
            webp: 'img/webp/sp-2@x2.webp',
            img: 'img/sp-2@x2.jpg',
            name: 'Замена пожарных гидрантов ',
            descr: 'Компания «Велдер» ведет свою деятельность с года и предоставляет возможность полной комплектации оборудованием объектов любого масштаба: от отдельного помещения, дома до жилого микрорайона'
        },
        {
            webp: 'img/webp/sp-3@x2.webp',
            img: 'img/sp-3@x2.jpg',
            name: 'Сварочные аппараты ПНД в аренду',
            descr: 'Компания «Велдер» ведет свою деятельность с года и предоставляет возможность полной комплектации оборудованием объектов любого масштаба: от отдельного помещения, дома до жилого микрорайона'
        },
    ]

    var contacts = [
        {
            name: 'Адрес',
            paragraph: ['129337, г. Москва, ул. Красная Сосна, 2А ']
        },
        {
            name: 'Телефоны:',
            link: true,
            paragraph: [
                {
                    link: 'tel:+74950000000',
                    text: '+7 (495) 000-00-00'
                },
                {
                    link: 'tel:+74950000000',
                    text: '+7 (495) 000-00-00'
                },
            ]
        },
        {
            name: 'Режим работы',
            paragraph: ['пн-чт: 8:00-17:00', 'пт: 8:00-16:00']
        },
        {
            name: 'E-mail:',
            link: true,
            paragraph: [
                {
                    link: 'mailto:velder@gmail.com',
                    text: 'velder@gmail.com'
                },
            ]
        },
    ]

    var basket = [
        {
            webp: 'img/webp/categories-2@x2.webp',
            img: 'img/categories-2@x2.jpg',
            name: 'Кран шаровой латунь никель 1101 Standard ВР полнопроходной рычаг белый ',
            articule: 'Арт.: КШ.Ф.П.040.40-01',
            developer: 'Aquasfera',
            price: '3 529 ₽',
            total: '7 058 ₽',
            counter: true,
        },
        {
            webp: 'img/webp/categories-2@x2.webp',
            img: 'img/categories-2@x2.jpg',
            name: 'Кран шаровой латунь никель 1101 Standard ВР полнопроходной рычаг белый ',
            articule: 'Арт.: КШ.Ф.П.040.40-01',
            developer: 'Aquasfera',
            price: '3 529 ₽',
            total: '7 058 ₽',
            counter: true,
        },
        {
            webp: 'img/webp/categories-2@x2.webp',
            img: 'img/categories-2@x2.jpg',
            name: 'Кран шаровой латунь никель 1101 Standard ВР полнопроходной рычаг белый ',
            articule: 'Арт.: КШ.Ф.П.040.40-01',
            developer: 'Aquasfera',
            price: '3 529 ₽',
            total: '7 058 ₽',
            counter: true,
        },
    ]
    var order = [
       {
            webp: 'img/webp/categories-2@x2.webp',
            img: 'img/categories-2@x2.jpg',
            name: 'Кран шаровой латунь никель 1101 Standard ВР полнопроходной рычаг белый ',
            articule: 'Арт.: КШ.Ф.П.040.40-01',
            developer: 'Aquasfera',
            price: '3 529 ₽',
            total: '7 058 ₽',
            value: '1',
        },
        {
            webp: 'img/webp/categories-2@x2.webp',
            img: 'img/categories-2@x2.jpg',
            name: 'Кран шаровой латунь никель 1101 Standard ВР полнопроходной рычаг белый ',
            articule: 'Арт.: КШ.Ф.П.040.40-01',
            developer: 'Aquasfera',
            price: '3 529 ₽',
            total: '7 058 ₽',
            value: '2',

        },
        {
            webp: 'img/webp/categories-2@x2.webp',
            img: 'img/categories-2@x2.jpg',
            name: 'Кран шаровой латунь никель 1101 Standard ВР полнопроходной рычаг белый ',
            articule: 'Арт.: КШ.Ф.П.040.40-01',
            developer: 'Aquasfera',
            price: '3 529 ₽',
            total: '7 058 ₽',
            value: '1',
        },
    ]
    var orderPayment = [
        {
            name: 'payment',
            text: 'Заявка менеджеру (для юр. лиц)',
        },
        {
            name: 'payment',
            text: 'Наличными/банковской картой при получении товара',
        },
    ]
    var orderDelivery = [
        {
            name: 'delivery',
            text: 'Доставка',
        },
        {
            name: 'delivery',
            text: 'Самовывоз',
        },
    ]

    var enter = [
        {
            text: 'Сохранить пароль'
        }
    ]

    var profileHistory = [
        {
            headStatus: 'Оплачено',
            bodyStatus: 'В работе',
        },
        {
            headStatus: 'Не оплачено',
            bodyStatus: 'Ждёт оплаты',
        },
        {
            headStatus: 'Оплачено',
            bodyStatus: 'Получено',
        },
        {
            headStatus: 'Не оплачено',
            bodyStatus: 'Отменено',
        },
    ]
    var feedback = [
        {
            text: 'Я согласен(на) с условием обработки <a href="#">персональных данных</a>'
        }
    ]