-
    var mainFilters = [
        {
            text: 'Новинки'
        },
        {
            text: 'Хиты продаж'
        },
        {
            text: 'Скидки'
        },
    ]
    var brandsFilters = [
        {
            text: 'Aquasfera',
            value: '150',
        },
        {
            text: 'Aquasfera',
            value: '150',
        },
        {
            text: 'Aquasfera',
            value: '150',
        },
        {
            text: 'Aquasfera',
            value: '150',
        },
        {
            text: 'Aquasfera',
            value: '150',
        },
        {
            text: 'Aquasfera',
            value: '150',
        },
    ]