.catalog-aside {
    width: 384px;
    flex-shrink: 0;
    &__item {
        padding: 0 30px;
        background: #fff;
        margin: 0 0 10px 0;
    }
    &__top {
        text-align: center;
    }
    &__head {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 18px 0px;
        cursor: pointer;
        font-weight: 700;
        & svg {
            transition: 0.3s ease-in-out;
            position: relative;
            top: 1px;
        }
        &.active {
            & svg {
                transform: rotate(-180deg);
            }
        }
        & + .catalog-aside__body {
            padding: 0 0 30px 0;
        }
    }
    &__body {
        padding: 20px 0;
        display: none;
    }
    &__item {
        font-size: 16px;
        line-height: normal;
    }
    &__inputs {
        display: flex;
        align-items: center;
        gap: 10px;
        margin: 0 0 23px 0;
        & input {
            width: 85px;
            height: 33px;
            display: block;
            border: 1px solid rgba(0, 0, 0, 0.3);
            font-size: 14px;
            padding: 0 16px;
        }
    }
    &__close {
        display: none;
    }
    &__separator {
        margin: 0 5px;
        display: flex;
    }
    &__buttons {
        margin: 20px 0 0 0;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 8px;
        & .btn {
            width: 100%;
            font-size: 16px;
            font-weight: 400;
        }
    }
}
.sliders {
    width: 220px;
    height: 1px;
}
.noUi-connects {
    overflow: visible;
}

.noUi-connect {
    background: #000;
}
.noUi-handle {
    width: 12px;
    height: 12px;
    background: #000;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: 22px;
    cursor: grab;
}
.noUi-base {
    background: rgba(0, 0, 0, 0.3);
}
@media screen and (max-width: 1330px) {
    .catalog-aside {
        width: 300px;
    }
}

@media screen and (max-width: 1024px) {
    .catalog-aside {
        position: fixed;
        z-index: 120;
        top: 0;
        left: 0;
        height: 100vh;
        overflow-y: auto;
        overflow-x: clip;
        background: #fff;
        padding: 0 15px 30px 15px;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease-in-out;
        &.active {
            opacity: 1;
            visibility: visible;
        }
        &__item {
            padding: 0;
        }
        &__head {
            padding: 10px 0;
            & + .catalog-aside__body {
                padding: 0 0 15px 0;
            }
        }
        &__body {
            padding: 15px 0;
        }
        &__top {
            display: none;
        }
        &__close {
            display: flex;
            justify-content: flex-end;
            padding: 10px 0;
            background: #fff;
            position: sticky;
            z-index: 20;
            top: 0;
        }
    }
}
