aside.order-aside 
    table.order-aside__table 
        tr 
            th Всего к оплате:   
            th 18 645 ₽
        tr 
            td Всего товаров:
            td 5
        tr 
            td Доставка:
            td 1 000 ₽ 
    button.btn Оформить заказ
    .order-aside__info 
        p Оформляя заказ, Вы соглашаетесь на обработку персональных данных, получение рекламно-информационных рассылок и принимаете условия <a href="#"><u>Пользовательского соглашения.</u></a>